#depositions {
    background-image: url(../images/depositions-background-larg-black.png);
    background-size: cover;
    background-position: center;
    height: 800px;
    flex-direction: column;
    border-top: 1px solid white;
    .bee-line {
        justify-content: center;
        margin-top: -70px;
        z-index: 1;
    }
   
  
    .title-depositions {
        width: 100%;
        margin-top: 87px;
        color: white;
        font-size: 37px;
        font-weight: bold;
        position: absolute;
        justify-content: center;
        text-align: center;
        text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.637);
    }
    .flex-depositions {
        margin-top: 180px;
        width: 100%;
        height: 797px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .button-two {
        display: flex;
        width: 282px;
        height: 60px;
        padding: 2px;
        margin: 20px;
        background-image: linear-gradient(to right, #974a4a, #fc3737);
        color: white;
        font-size: 30px;
        font-weight: 600;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.808);
        transition: 0.5s;
        text-shadow: 1px 1px 1px black;
      }
      .button-two:hover {
        transform: scale(1.1);
        transition: 0.5s;
      }

}