#background-two {
  background-image: linear-gradient(45deg, #272726, #1d1c19);
  width: 100%;
  height: 1824px;
  position: relative;
  border-bottom: 2px solid #000000;
  .box {
    width: 100%;
    .polygon-one {
      top: -15px;
      right: 0px;
      position: absolute;
      z-index: 2;
    }
    .div-flex {
      width: 100%;
      margin-bottom: 0px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 3;
      position: relative;
      .title-api {
        top: 5px;
        display: flex;
        width: 100%;
        color: #ffffff;
        font-size: 57px;
        font-weight: bold;
        position: relative;
        justify-content: center;
        text-align: center;
        text-shadow: 3px 8px 12px rgba(0, 0, 0, 0.637);
        z-index: 4;
      }
      .paragraf-second-page {
        width: 320px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2px;
        top: 73px;
        color: #c7863c;
        font-size: 25px;
        position: relative;
        z-index: 4;
      }
      .button {
        display: flex;
        top: 1451px;
        width: 205px;
        height: 40px;
        padding: 20px 5px;
        background-image: linear-gradient(to right, #faef37, #fff658);
        color: #3b2409;
        font-size: 18px;
        font-weight: 600;
        align-items: center;
        text-align: center;
        justify-content: center;
        border-radius: 6px;
        box-shadow: 3px 8px 13px rgba(0, 0, 0, 0.808);
        position: relative;
        cursor: pointer;
        transition: 0.5s;
      }
      .button:hover {
        transform: scale(1.1);
        transition: 0.5s;
      }
      .button-s {
        display: flex;
        top: 265px;
        width: 205px;
        height: 40px;
        padding: 20px 5px;
        background-image: linear-gradient(to right, #faef37, #fff658);
        color: #3b2409;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        align-items: center;
        text-align: center;
        justify-content: center;
        border-radius: 6px;
        box-shadow: 3px 8px 13px rgba(0, 0, 0, 0.808);
        position: relative;
        cursor: pointer;
        transition: 0.5s;
      }
      .button-s:hover {
        transform: scale(1.1);
        transition: 0.5s;
      }
      .row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        flex-direction: column;
        .row-up{
          flex-direction: column;
          .img-api {
            margin: 40px 0px;
            position: relative;
            transition: 0.3s;
          }
          .img-api:hover {
            transform: scale(1.1);
            transition: 0.5s;
          }
          .content {
            width: 360px;
            height: auto;
            padding: 10px;
            font-size: 18px;
            color: #c7863c;
            justify-content: center;
            text-align: center;
            align-items: center;
            border-left: 2px dashed #c7863c;
          }
        }
        .row-up-two {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .img-api-two {
            margin: 60px 0px;
            position: relative;
            z-index: 2;
            transition: 0.3s;
          }
          .img-api-two:hover {
            transform: scale(1.1);
            transition: 0.5s;
          }
          .content {
            width: 360px;
            height: auto;
            flex-direction: column;
            display: flex;
            color: #c7863c;
            font-size: 18px;
            border-left: 2px dashed #c7863c;
            align-items: center;
            text-align: center;
            span {
              display: flex;
              color: #fdef07;
              text-transform: uppercase;
              font-weight: bold;
              text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.808);
            }
          }
        }

      }
    }
  }
}

@media (min-width: 520px) {
  #background-two {
    display: flex;
    justify-content: center;
    .paragraf-second-page {
      width: 100%;
      margin: 10px;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    .button {
      margin-top: 15px;
      width: 128px;
      height: 40px;
      background-image: linear-gradient(to right, #bd9414, #ffc100);
      color: white;
      font-size: 18px;
      font-weight: 600;
      align-items: center;
      text-align: center;
      justify-content: center;
      border-radius: 6px;
      box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.808);
      cursor: pointer;
    }
    .button:hover {
      background-image: linear-gradient(to right, #ffffff, #ebebeb);
      color: #ffc100;
    }
  }
  .img-api {
    position: relative;
    width: auto;
    height: 450px;
    display: flex;
    justify-content: center;
  }
  .img-api-two {
    position: relative;
    z-index: 2;
  }
}
@media (min-width: 620px) {
  .button {
    margin-top: 15px;
    width: 128px;
    height: 40px;
    background-image: linear-gradient(to right, #bd9414, #ffc100);
    color: white;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.808);
    cursor: pointer;
  }
  .img-api {
    width: auto;
    height: 450px;
    display: flex;
    justify-content: center;
  }
  .img-api-two {
    z-index: 2;
  }
}

@media (min-width: 820px) {
  #background-two {
    .box {
      .polygon-one {
        width: 457px;
        height: 457px;
        top: -25px;
        left: -20px;
        z-index: 3;
      }
      .div-flex {
        top: 80px;
        height: 1724px;
        .title-api {
          top: 15px;
          width: 100%;
          color: white;
          font-size: 85px;
          font-weight: bold;
          position: relative;
          justify-content: center;
          text-align: center;
          text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.637);
          z-index: 4;
        }
        .paragraf-second-page {
          width: 500px;
          justify-content: center;
          align-items: center;
          text-align: start;
          padding: 2px;
          top: 120px;
          font-size: 42px;
          position: relative;
          z-index: 4;
        }
        .button {
          top: 1254px;
        }
        .button-s {
          top: 365px;
          width: 205px;
          height: 40px;
          padding: 20px 5px;
          background-image: linear-gradient(to right, #faef37, #fff658);
          color: #3b2409;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 600;
          align-items: center;
          text-align: center;
          justify-content: center;
          border-radius: 6px;
          box-shadow: 3px 8px 13px rgba(0, 0, 0, 0.808);
          position: relative;
          cursor: pointer;
          transition: 0.5s;
        }
        .button-s:hover {
          transform: scale(1.1);
          transition: 0.5s;
        }
          .row {
              width: 100%;
              .row-up {
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .img-api {
                  width: 400px;
                  height: 420px;
                  z-index: 4;
                }
                .content {
                  display: flex;
                  width: 400px;
                  height: 188px;
                  padding: 10px;
                  font-size: 28px;
                  justify-content: center;
                  text-align: center;
                  align-items: center;
                }
              }
              .row-up-two{
                flex-direction: row-reverse;
                justify-content: center;
                align-items: center;
                .img-api-two {
                  position: relative;
                  z-index: 2;
                }
                .content {
                  flex-direction: column;
                  width: 400px;
                  height: 188px;
                  color: #c7863c;
                  font-size: 24px;
                  border: none;
                  border-right: 2px dashed #c7863c;
    
                  .img-api-two {
                    width: 400px;
                    height: 420px;
                    top: 210px;
                    z-index: 2;
                  }
              }
            }
          
        }
      }
    }
  }
}
@media (min-width: 1220px) {
  #background-two {
    height: 2024px;
    .box {
      .polygon-one {
        width: 457px;
        height: 457px;
        top: -25px;
        left: -20px;
        z-index: 3;
      }
      .div-flex {
        top: 80px;
        height: 1724px;
        .title-api {
          top: 15px;
          width: 100%;
          color: white;
          font-size: 95px;
          font-weight: bold;
          position: relative;
          justify-content: center;
          text-align: center;
          text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.637);
          z-index: 4;
        }
        .paragraf-second-page {
          width: 500px;
          justify-content: center;
          align-items: center;
          text-align: start;
          padding: 12px;
          top: 120px;
          font-size: 33px;
          position: relative;
          z-index: 4;
        }
        .button {
          width: 250px;
          height: 50px;
          padding: 20px 5px;
          top: 1454px;
          font-size: 25px;
        }
          .row {
              width: 80%;
              .row-up {
                width: 100%;
                height: 600px;
                padding: 40px;
                
                .img-api {
                  img{ 
                    width: 500px;
                    height: 500px;
                  }
                }
                .content {
                  width: 500px;
                  height: 253px;
                  margin-left: 50px;
                  padding: 10px;
                  margin-top: 82px;
                  font-size: 30px;
                }
              }
              .row-up-two{
                width: 100%;
                height: 600px;
                padding: 40px;
                flex-direction: row-reverse;
                .img-api-two {
                  img {
                    width: 439px;
                    height: 500px;
                  }
                }
                .content {
                  flex-direction: column;
                  width: 500px;
                  height: 253px;
                  margin-right: 50px;
                  padding: 10px;
                  font-size: 30px;
                  border: none;
                  border-right: 2px dashed #c7863c;
              }
            }
          
        }
      }
    }
  }
}
