#background-three {
  background-image: linear-gradient(to top, #f85d5d, #000000);
  box-shadow: 10px 10px 50px #000000;
  width: 100%;
  height: 1438px;
  position: relative;
  border-bottom: 2px solid black;

  .polygon-two {
    display: flex;
    margin-top: -15px;
    margin-left: -80px;
    z-index: 2;
  }
  .div-flex {
    width: 100%;
    margin-top: 110px;
    margin-bottom: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    z-index: 3;
    position: absolute;
    .title-auric {
      width: 100%;
      text-align: center;
      margin-top: 2px;
      padding: 4px;
      color: #f85d5d;
      font-size: 48px;
      font-weight: bold;
      text-shadow: 1px 9px 13px rgba(0, 0, 0, 0.808);
      transition: 1s;
    }
    .paragraf-third-page {
      text-align: center;
      width: 100%;
      padding: 12px;
      color: white;
      text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.808);
      font-size: 25px;
      z-index: 3;
    }
    .button-two {
      display: flex;
      width: 128px;
      height: 40px;
      padding: 2px;
      margin: 20px;
      background-image: linear-gradient(to right, #965252, #fa5151);
      color: white;
      font-size: 18px;
      font-weight: 600;
      align-items: center;
      text-align: center;
      justify-content: center;
      border-radius: 6px;
      box-shadow: 1px 9px 15px rgba(0, 0, 0, 0.808);
      transition: 0.2s;
    }
    .button-two:hover { 
        transform: scale(1.1);
        transition: 0.5s;
      
    }
    .row-a {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .row-down {
        flex-direction: column;
        .img-arc {
          width: 380px;
  
          margin: 40px 0px;
          transition: 0.5s;
        }
        .img-arc:hover {
          transform: scale(1.1);
          transition: 0.5s;
  
        }
        .content {
          width: 360px;
          height: auto;
          padding: 10px;
          font-size: 18px;
          color: #ffffff;
          justify-content: center;
          text-align: center;
          align-items: center;
          border-left: 2px dashed #ffffff;
        }
      }
      .row-down-two {
        flex-direction: column;
        .img-arc-two {
          margin: 40px 0px;
          transition: 0.5s;
        }
        .img-arc-two:hover {
          transform: scale(1.1);
          transition: 0.5s;
        }
        .content {
          width: 360px;
          height: auto;
          padding: 10px;
          font-size: 18px;
          color: #ffffff;
          justify-content: center;
          text-align: center;
          align-items: center;
          border-left: 2px dashed #ffffff;
        }
      }

    }
  }
}
@media (min-width: 520px) {
}
@media (min-width: 820px) {
  #background-three {
    height: 1038px;
    .polygon-two {
      width: 200px;
      height: 560px;
      display: flex;
      margin-top: -15px;
      margin-left: -80px;
      z-index: 2;
      img {
        width: 600px;
        height: 560px;
      }
    }
    .div-flex {
      .title-auric {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        padding: 4px;
        color: #f85d5d;
        font-size: 94px;
        font-weight: bold;
        text-shadow: 1px 10px 10px rgba(0, 0, 0, 0.637);
      }
      .paragraf-third-page {
        text-align: center;
        width: 100%;
        padding: 12px;
        color: white;
        text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.808);
        font-size: 35px;
        z-index: 3;
      }
      .button-two {
        width: 128px;
        height: 40px;
        padding: 2px;
        margin: 20px;
        background-image: linear-gradient(to right, #965252, #fa5151);
        color: white;
        font-size: 18px;
        font-weight: 600;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        box-shadow: 1px 9px 15px rgba(36, 36, 36, 0.808);
      }
      .button-two:hover {
      }
      .row-a {
        width: 100%;
        justify-content: space-evenly;
        flex-direction: row;
        display: flex;
        .row-a {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          .row-down {
            flex-direction: column;
            .img-arc {
              width: 380px;
      
              margin: 40px 0px;
              transition: 0.5s;
            }
            .img-arc:hover {
              transform: scale(1.1);
              transition: 0.5s;
      
            }
            .content {
              width: 360px;
              height: auto;
              padding: 10px;
              font-size: 18px;
              color: #ffffff;
              justify-content: center;
              text-align: center;
              align-items: center;
              border-left: 2px dashed #ffffff;
            }
          }
          .row-down-two {
            flex-direction: column;
            .img-arc-two {
              margin: 40px 0px;
              transition: 0.5s;
            }
            .img-arc-two:hover {
              transform: scale(1.1);
              transition: 0.5s;
            }
            .content {
              width: 360px;
              height: auto;
              padding: 10px;
              font-size: 18px;
              color: #ffffff;
              justify-content: center;
              text-align: center;
              align-items: center;
              border-left: 2px dashed #ffffff;
            }
          }
      }
    }
  }
}
}