#background-three {
  background-image: linear-gradient(to top, #CF9393, #000000);
  box-shadow: 10px 10px 50px #000000;
  width: 100%;
  height: 150rem;
  position: relative;
  box-shadow: 1px 8px 12px black;

  .polygon-two {
    display: flex;
    filter: grayscale(1);
    margin-top: -15px;
    margin-left: -80px;
    z-index: 2;
  }
  .div-flex {
    width: 100%;
    margin-top: 110px;
    margin-bottom: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    z-index: 3;
    position: absolute;
    .title-auric {
      width: 100%;
      text-align: center;
      margin-top: 2px;
      padding: 4px;
      color: #CF9393;
      font-size: 44px;
      font-weight: bold;
      text-transform: uppercase;
      text-shadow: 1px 9px 13px rgba(0, 0, 0, 0.808);
      transition: 1s;
    }
    .paragraf-third-page {
      text-align: center;
      width: 100%;
      padding: 12px;
      color: white;
      text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.808);
      font-size: 25px;
      z-index: 3;
    }
    .button-two {
      display: flex;
      width: 128px;
      height: 40px;
      padding: 2px;
      margin: 20px;
      background-image: linear-gradient(to right, #d33434, #fa5151);
      color: white;
      font-size: 18px;
      font-weight: 600;
      align-items: center;
      text-align: center;
      justify-content: center;
      border-radius: 6px;
      box-shadow: 1px 6px 10px rgb(0, 0, 0);
      transition: 0.2s;
    }
    .button-two:hover { 
        transform: scale(1.1);
        transition: 0.5s;
      
    }
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        flex-direction: column;
        .row-up{
          flex-direction: column;
          .img-api {
            margin: 40px 0px;
            position: relative;
            transition: 0.3s;
          }
          .img-api:hover {
            transform: scale(1.1);
            transition: 0.5s;
          }
          .content-ilib {
            flex-direction: column;
            margin: .5rem .1rem;
            color: #ffffff;
            width: 100%;
            h3 {
              max-width: 100%;
              font-size: 16px;
            }
            .content {
              width: 360px;
              height: auto;
              padding: 40px 5px;
              font-size: 16px;
              color: #ffffff;
              justify-content: center;
              margin: 2rem .3rem;
              text-align: center;
              align-items: center;
              border-left: 2px dashed #ffffff;
            }
          }
        }
        .row-up-two {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .img-api-two {
            margin: 60px 0px;
            position: relative;
            z-index: 2;
            transition: 0.3s;
          }
          .img-api-two:hover {
            transform: scale(1.1);
            transition: 0.5s;
          }
          .content-ilib {
            flex-direction: column;
            text-align: center;
            h3 {
              color: #ffffff;
              margin: .5rem 0;
            }
            .content {
              width: 360px;
              height: auto;
              flex-direction: column;
              display: flex;
              color: #ffffff;
              font-size: 14px;
              padding: 40px 5px;
              margin: 2rem;
              border-left: 2px dashed #ffffff;
              align-items: center;
              text-align: center;
            }
          }  
        }

      }
  }
}
@media (min-width: 520px) {
  #background-three {
    height: 152rem;
  }
  #background-three .div-flex .row .row-up .img-api {
    margin: 40px 0 0 0;
    position: relative;
    transition: 0.3s;
    
  }
  #background-three .div-flex .row .row-up-two .content-ilib .content {
    font-size: 16px;
  }
}
@media (min-width: 820px) {
  #background-three {
    height: 120rem;
    .polygon-two {
      width: 200px;
      height: 560px;
      display: flex;
      margin-top: -15px;
      margin-left: -80px;
      z-index: 2;
      img {
        width: 600px;
        height: 560px;
      }
    }
    .div-flex {
      .title-auric {
        width: 50%;
        text-align: center;
        margin-top: 20px;
        padding: 4px;
        color: #CF9393;
        font-size: 94px;
        font-weight: bold;
        text-shadow: 1px 10px 10px rgba(0, 0, 0, 0.637);
      }
      .paragraf-third-page {
        text-align: center;
        width: 100%;
        padding: 12px;
        color: white;
        text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.808);
        font-size: 35px;
        z-index: 3;
      }
      .button-two {
        width: 128px;
        height: 40px;
        padding: 2px;
        margin: 20px;
        color: white;
        font-size: 18px;
        font-weight: 600;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
      }
      .button-two:hover {
      }
      .row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        flex-direction: column;
        width: 100%;
        .row-up{
          flex-direction: row;
          justify-content: center;
          align-items: center;
          .img-api {
            align-items: center;
            margin: 40px 0px;
            position: relative;
            transition: 0.3s;
            width: 400px;
            height: 420px;
            z-index: 4;
          }
          .img-api:hover {
            transform: scale(1.1);
            transition: 0.5s;
          }
          .content-ilib {
            color: #ffffff;
            flex-direction: column;
            align-items: center;
            h3 {
              margin-bottom: 1rem;
              text-transform: uppercase;
            }
            .content {
              display: flex;
            width: 400px;
            height: 188px;
            padding: 10px;
            font-size: 18px;
            color: #ffffff;
            justify-content: center;
            text-align: inherit;
            align-items: center;
            border: none;
            }
          }

        }
        .row-up-two {
          flex-direction: row-reverse;
          justify-content: center;
          align-items: center;
          .img-api-two {
            position: relative;
            z-index: 2;
            transition: 0.3s;
            
          }
          .img-api-two:hover {
            transform: scale(1.1);
            transition: 0.5s;
          }
          .content-ilib {
            color: #ffffff;
            flex-direction: column;
            align-items: center;
            margin-right: 2.2rem;
            h3{
              margin-bottom: 1rem;
              text-transform: uppercase;
            }
          .content {
            width: 400px;
            height: 188px;
            flex-direction: column;
            display: flex;
            color: #ffffff;
            font-size: 16px;
            border:none;
            align-items: center;
            text-align: center;
            }
          }
        }

      
    }
  }
}
}

