* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr {
  display: flex;
}

a {
  text-decoration: none;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

#header {
  margin: 0;
  height: 839px;
  display: flex;
  position: relative;
}

#logo {
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#background {
  background-color: #1C1C1C;
  width: 100%;
  height: 839px;
  justify-content: center;
}

.title {
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 188px;
  width: 100%;
  color: #FDEF07;
  font-size: 44px;
  font-weight: bold;
  position: absolute;
}

.paragraf-first-page {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  top: 326px;
  color: white;
  font-size: 25px;
  position: absolute;
}

@media (min-width: 520px) {
  .title {
    font-size: 34px;
  }
  .paragraf-first-page {
    font-size: 16px;
  }
}
@media (min-width: 820px) {
  #header {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  #logo {
    width: 100%;
  }
  #background {
    justify-content: center;
  }
  .title {
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 188px;
    width: 100%;
    color: #FDEF07;
    font-size: 56px;
    font-weight: bold;
    position: absolute;
  }
  .paragraf-first-page {
    width: 588px;
    font-size: 40px;
  }
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Black"), url("../fonts/Roboto-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Black"), url("../fonts/Roboto-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
.whatsapp {
  border: none;
  width: 70px;
  height: 70px;
  position: fixed;
  z-index: 10000;
  bottom: 15px;
  right: 15px;
  background-color: green;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-image: linear-gradient(180deg, #00e574, #5eff2e);
  border: 3px solid #77ffaf;
  padding: 20px;
  box-shadow: 1px 1px 1px #00e574;
  box-shadow: 0 0 0 0 #00e574;
  transform: scale(1);
  -webkit-animation: pulse-black 1.5s infinite;
  animation: pulse-black 1.5s infinite;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 229, 116, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px transparent;
  }
  to {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 transparent;
  }
}
#background-presantation {
  background-color: #1C1C1C;
  width: 100%;
  height: 856px;
  position: relative;
}

.background-black {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.title-two {
  margin: 40px 15px;
  color: white;
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  z-index: 1;
}

.polygon {
  width: 244px;
  height: 310px;
  top: 205px;
  left: -54px;
  position: absolute;
}

.two-peoples {
  position: absolute;
  margin-top: 335px;
  z-index: 2;
}

@media (min-width: 520px) {
  .title-two {
    margin: 40px 15px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    justify-content: center;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    z-index: 1;
  }
}
@media (min-width: 820px) {
  #background-presantation {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .background-black {
    background-color: #1C1C1C;
    position: relative;
    justify-content: center;
    z-index: 0;
  }
  .title-two {
    top: 15px;
    right: 40px;
    width: 397px;
    color: white;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
    justify-content: flex-end;
    align-items: flex-end;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    z-index: 2;
  }
  .title-two h2 {
    font-size: 50px;
  }
  .polygon {
    display: flex;
    position: absolute;
    width: 557px;
    height: 557px;
  }
  .two-peoples {
    width: 100%;
    margin-top: 150px;
    justify-content: flex-start;
    z-index: 3;
    position: absolute;
  }
}
#background-two {
  background-color: #1C1C1C;
  width: 100%;
  height: 1124px;
  position: relative;
}

.title-api {
  width: 100%;
  margin-top: 77px;
  color: white;
  font-size: 47px;
  font-weight: bold;
  position: absolute;
  justify-content: center;
  text-align: center;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.637);
  z-index: 3;
}

.polygon-one {
  top: -15px;
  right: 0px;
  position: absolute;
  z-index: 2;
}

.paragraf-second-page {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2px;
  top: 163px;
  color: white;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.808);
  font-size: 25px;
  position: absolute;
  z-index: 3;
}

.button {
  display: flex;
  top: 240px;
  left: 143px;
  width: 128px;
  height: 40px;
  background-image: linear-gradient(to right, #BD9414, #FFC100);
  color: white;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.808);
  position: absolute;
  cursor: pointer;
}

.button:hover {
  background-image: linear-gradient(to right, #a88312, #ca9800);
}

.img-api {
  top: 300px;
  left: 21px;
  position: absolute;
}

.img-api-two {
  top: 775px;
  left: 21px;
  position: absolute;
  z-index: 2;
}

#background-three {
  width: 100%;
  height: 1158px;
  position: relative;
}
#background-three .background-honey {
  position: absolute;
  width: 100%;
}
#background-three .polygon-two {
  display: flex;
  margin-top: -15px;
  margin-left: -80px;
  z-index: 2;
}
#background-three .div-flex {
  width: 100%;
  margin-top: 110px;
  margin-bottom: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  z-index: 3;
  position: absolute;
}
#background-three .div-flex .title-auric {
  width: 100%;
  text-align: center;
  margin-top: 2px;
  padding: 4px;
  color: #35352d;
  font-size: 44px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.637);
}
#background-three .div-flex .paragraf-third-page {
  width: 100%;
  padding: 12px;
  color: white;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.808);
  font-size: 25px;
  z-index: 3;
}
#background-three .div-flex .button-two {
  width: 128px;
  height: 40px;
  padding: 2px;
  margin: 20px;
  background-image: linear-gradient(to right, #974a4a, #fc3737);
  color: white;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(165, 165, 165, 0.808);
}
#background-three .div-flex .img-arc {
  margin-bottom: 70px;
}
#background-three .div-flex .img-arc-two {
  margin-bottom: 0px;
}

@media (min-width: 820px) {
  .background-honey {
    width: 80%;
  }
}
#show-we {
  background-image: url(../images/show-we.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 1108px;
  margin-top: -46px;
  justify-content: center;
  z-index: 0;
}

.box-flex {
  margin-top: 601px;
  background-color: #DEA47C;
  width: 358px;
  height: 629px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  border-radius: 8px;
}
.box-flex .show-video {
  background-color: #DEA47C;
  width: 358px;
  height: 419px;
  border-radius: 6px;
  position: relative;
  justify-content: center;
}
.box-flex .show-video .title-auric {
  width: 100%;
  text-align: center;
  margin-top: 2px;
  padding: 4px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.637);
  position: absolute;
}
.box-flex .paragraf-third-page {
  width: 308px;
  height: 69px;
  padding-top: 12px;
  color: white;
  font-size: 22px;
  z-index: 3;
  justify-content: center;
  text-align: center;
}
.box-flex .button-two {
  width: 128px;
  height: 40px;
  padding: 2px;
  margin: 20px;
  background-image: linear-gradient(to right, #974a4a, #fc3737);
  color: white;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(37, 37, 37, 0.808);
}

#interline {
  width: 414px;
  height: 282px;
  background-color: #1B1A16;
  justify-content: center;
}

.text-product {
  color: white;
  font-size: 23px;
  font-weight: 400;
  margin-top: 243px;
  background-image: linear-gradient(to right, #996423, #D19960);
  width: 358px;
  height: 73px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

#products {
  margin-top: -12px;
  width: 414px;
  height: 764px;
  background-image: url(../images/products.png);
  justify-content: flex-end;
  display: flex;
}

.product-texts {
  flex-direction: column;
  color: white;
  font-size: 30px;
  font-weight: 400;
  margin-top: 366px;
  width: 207px;
  height: 300px;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-texts h4 {
  padding: 15px;
}

#depositions {
  background-image: url(../images/depositions-background.png);
  width: 414px;
  height: 800px;
  flex-direction: column;
  border-bottom: 8px solid #FF0000;
}
#depositions .bee-line {
  justify-content: center;
  margin-top: -70px;
  z-index: 1;
}
#depositions .line {
  justify-content: center;
  margin-top: -59px;
}
#depositions .title-depositions {
  width: 414px;
  margin-top: 87px;
  color: white;
  font-size: 37px;
  font-weight: bold;
  position: absolute;
  justify-content: center;
  text-align: center;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.637);
}
#depositions .flex-depositions {
  margin-top: 180px;
  width: 414px;
  height: 797px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#depositions .button-two {
  width: 128px;
  height: 40px;
  padding: 2px;
  margin: 20px;
  background-image: linear-gradient(to right, #974a4a, #fc3737);
  color: white;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(34, 34, 34, 0.808);
}

#footer {
  background-image: url(../images/footer.png);
  width: 414px;
  height: 978px;
  border-top: 8px solid #35352D;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#footer .title-footer {
  margin-top: 20px;
  color: white;
  width: 414px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
#footer .links {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#footer .links .title-links {
  width: 162px;
  height: 64px;
  color: #FDEF07;
  font-size: 25px;
  text-align: center;
  padding: 10px;
}
#footer .logo-footer {
  margin-top: 200px;
}
#footer .email {
  width: 357px;
  height: 37px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  align-items: center;
  justify-content: center;
}
#footer .adress {
  width: 362px;
  height: 52px;
  color: white;
  font-size: 14px;
  font-weight: 300;
  align-items: center;
  text-align: center;
}
#footer .copyright {
  width: 362px;
  height: 52px;
  color: white;
  font-size: 14px;
  font-weight: 300;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
